<div ng-controller="userController">
	<h4>Bucket List</h4>
	<a href="#/dashboard">Home</a>
	<a href="#/index">Logout</a>
	<br>
	<p>Welcome, {{user}}!</p>
	<br>
	<form>
		<input type="text" ng-model="wish.title" placeholder="Title">
		<input type="text" ng-model="wish.description" placeholder="Description">
		<select ng-model="wish.joiner">
			<option>Select...</option>
			<option ng-repeat="user in allusers" value="{{user._id}}">{{user}}</option>
		</select>
		
		<input type="submit" ng-click="addWish()" value="Add to List">
	</form>
	<br>
	<p>Before I die I want to...</p>
	<p ng-repeat="wish in allwishes"><input type="checkbox">{{wish.wish_creator.name}} {{wish.title}} {{wish.description}}</p>
	<br>
	<div ng-repeat="wish in allwishes">
		<a href="#/user/{{wish.wish_creator._id}}">{{wish.wish_creator.name}}</a>
</div>